<%- include('./partials/header.ejs') %>
    <!--<%-current%>-->
    <div class="container my-3">
        <%if(all == true){%>
            <%catogories.forEach((item)=>{%>
                <div class="card my-3 text-center">
                    <div class="card-header">
                        Catogories
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%-item.cat_name%>
                        </h5>
                        <p class="card-text">
                            <%-item.info%>
                        </p>
                        <a href=<%-`/catogories/${item.cat_name}/`%> class="btn btn-outline-success">Explore
                            <%-item.cat_name%></a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            <%})%>
        <%}else{%>
            <h2 class="mb-3"><%-cat_name%></h2>
            <!-- forum questios start here -->
            <div class="my-4">
                <%forum_questions.forEach((item)=>{%>
                    <div class="card mb-3">
                        <div class="card-header">
                            <span class="text-primary"><%-item.uname%></span><span class="text-secondary">  At  </span> <span class="text-primary"><%- moment(new Date(item.dt)).format('D MMMM YY h:m A'); %></span> <span class="text-danger"><%-item.views%> Views</span>
                          </div>
                        <div class="card-body">
                          <h5 class="card-title"><%-item.question_title.slice(0,100)%>....</h5>
                          <p class="card-text"><%-item.question_body.slice(0,340)%>....</p>
                          <a href="/forum/question/<%-item._id%>" class="btn btn-outline-success">Explore</a>
                        </div>
                      </div>
                 <%})%>
            </div>
            <!-- forum questions end here -->
            <h4 class="mt-4 mb-2">Post Questions</h4>
            <%if(session.login == true){%>
                <form action=<%-current%> method="post">
                    <div class="mb-3">
                      <label for="question_title" class="form-label">Question Title</label>
                      <input type="text" class="form-control" name="question_title" id="question_title" aria-describedby="question_titleHelp" placeholder="Question title" required/>
                    </div>
                    <div class="mb-3">
                        <label for="question_type" class="form-label">Question Category</label>
                        <select class="form-control" id="question_type" name="question_type" required/>
                            <%catogories.forEach((item)=>{%>
                                <option value=<%-item.cat_name%> <%if(item.cat_name == cat_name){%> selected <%}%>><%-item.cat_name%></option>
                            <%})%>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="question_body" class="form-label">Question</label>
                        <textarea class="form-control" id="question_body" name="question_body" rows="3" required/></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            <%}else{%>
                <h4 class="mt-2 text-danger">Plaese Login For Post the Questions</h4>
            <%}%>
        <%}%>
    </div>
<%- include('./partials/footer.ejs') %>