<%- include('./partials/header.ejs') %>
  <!-- slides start here -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="background: black; overflow: hidden;">
      <%let first_slide=true%>
        <%catogories.forEach((item)=>{%>
          <div class="carousel-item <%if(first_slide == true){%>active<%}%>">
            <img src="/images/<%-item.images%>" class="d-block w-100" loading="lazy" style="object-fit: cover; opacity: 0.4;" alt="Server Could Not Load Images">
            <div class="carousel-caption d-none d-md-block">
              <h5>
                <a class="btn btn-success my-2" href="catogories/<%-item.cat_name%>/">Explore <%-item.cat_name%></a>
              </h5>
              <p>
                <%-item.info%>
              </p>
            </div>
          </div>
          <%first_slide=false%>
        <%})%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h3 class="my-5 text-center">Top Questions</h3>
  <!-- slides end here -->
  <div class="container">
    <!-- forum questios start here -->
    <div class="my-4">
      <%forum_questions.forEach((item)=>{%>
        <div class="card mb-3" style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)">
          <div class="card-header">
              <span class="text-indigo-400"><%-item.uname%></span><span class="text-secondary">  At  </span> <span class="text-indigo-400 me-3"><%- moment(new Date(item.dt)).format('D MMMM YY h:m A'); %></span> <span class="text-danger"><%-item.views%> Views</span>
              
              <%if(session.login==true){%>
                <span><%if(session.uname === item.uname){%>
                  <span class="text-danger ms-3" name="deletePost" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Post" style="cursor: pointer;" data-uname=`<%-item.uname%>` data-qid=`<%-item._id.toString()%>`>
                    <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="19" height="19" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                    </svg>
                  </span>
                  <a href="/question/update/<%-item._id.toString()%>" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Post" class="text-success ms-3" style="text-decoration: none;">
                    <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="19" height="19" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                    </svg>
                  </a>
                <%}%>
              </span>
                <%}%>

            </div>
          <div class="card-body">
            <h5 class="card-title"><%-item.question_title.slice(0,100)%>....</h5>
            <p class="card-text"><%-item.question_body.slice(0,340)%>....</p>
            </div>
          <div class="card-footer text-body-secondary">
            <a href="/forum/question/<%-item._id%>" class="btn btn-outline-royal me-2">Explore</a>
            <span class="btn btn-outline-royal" name="likeBtn" data-login=<%-session.login || false%> data-qid=<%-item._id.toString()%>><%if(item.likes.includes("{ uname: '"+ session.uname +"' }")){%> Liked <%-item.likes.length%><%}else{%> Like <%-item.likes.length%><%}%></span>
          </div>
        </div>
        <%})%>
    </div>
    <!-- forum questions end here -->
  </div>
  <%- include('./partials/footer.ejs') %>

