<%- include('./partials/header.ejs') %>
<script>
    const query = location.pathname.substring(location.pathname.indexOf('/search/') + '/search/'.length)
    if(query) document.getElementById('serachBox').value = query;
</script>
<div class="container mt-5">
    <%if(serachResult.length>0){%>
        <%serachResult.forEach((item)=>{%>
            <div class="card mb-3" style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)">
              <div class="card-header">
                  <span class="text-indigo-400"><%-item.uname%></span><span class="text-secondary">  At  </span> <span class="text-indigo-400 me-3"><%- moment(new Date(item.dt)).format('D MMMM YY h:m A'); %></span> <span class="text-danger"><%-item.views%> Views</span>
                  
                  <%if(session.login==true){%>
                    <span><%if(session.uname === item.uname){%>
                      <span class="text-danger ms-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Post" name="deletePost" style="cursor: pointer;" data-uname=<%-item.uname%> data-qid=<%-item._id.toString()%>>
                        <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="19" height="19" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                        </svg>
                      </span>
                      <a href="/question/update/<%-item._id.toString()%>" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Post"  class="text-success ms-3" style="text-decoration: none;">
                        <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="19" height="19" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                        </svg>
                      </a>
                    <%}%></span>
                    <%}%>
    
                </div>
              <div class="card-body">
                <h5 class="card-title"><%-item.question_title.slice(0,100)%>....</h5>
                <p class="card-text"><%-item.question_body.slice(0,340)%>....</p>
                </div>
              <div class="card-footer text-body-secondary">
                <div class="btn-group">
                  <a href="/forum/question/<%-item._id%>" name="exploreBtn" data-id="<%-item._id%>" class="btn btn-royal">Explore</a>
                  <span class="btn btn-outline-royal" name="likeBtn" data-id="<%-item._id%>" data-login=<%-session.login || false%> data-qid=<%-item._id.toString()%>><%if(item.likes.includes("{ uname: '"+ session.uname +"' }")){%> Liked <%-item.likes.length%><%} else {%> Like <%-item.likes.length%><%}%></span>
                </div>
              </div>
            </div>
            <%})%>
    <%}else{%>
        <h3 class="text-danger">Result Not found</h3>
    <%}%>
</div>
<%- include('./partials/footer.ejs') %>